:root {
    --primary: crimson;
    --secondary: rgb(212, 57, 0);
    --white: #eee;
    --lightgray: lightgray;
    --logError: rgb(200, 0, 0);
    --cardHeight: 350px;
    --cardWidth: min(350px, 100% - 4rem);
    --cardShadow: 10px 10px 20px 0px #0003;
    --glowShadow: 0px 0px 5px 2px crimson;
    --bannerShadow: 2px 2px 4px #0006;
    --textShadow: 1px 1.5px 3px #0007;
}
  
* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    font-family: Geneva, sans-serif;
    background-color: var(--lightgray);
    overflow: hidden auto;
    background-color: var(--lightgray);
}

.card {
    height: var(--cardHeight);
    width: var(--cardWidth);
    min-width: 216px;  
    border: solid 1px transparent;
    border-radius: 0;
    margin-block: auto;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: var(--cardShadow);
    box-sizing: border-box;
}

.banner {
    position: relative;
    left: -2.5rem;
    height: 50px;
    width: calc(100% - 1rem);
    padding-left: 2rem;
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Junge, Recursive, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 1rem;
    text-shadow: var(--textShadow);
    box-shadow: var(--bannerShadow);
    -webkit-user-select: none;
    user-select: none;
}

.banner::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 1.7rem;
    height: calc(50px + .25rem);
    width: 5%;
    background: var(--secondary);
    transform: skew(45deg);
    z-index: -1;
}
  
.wrapper {
    padding-top: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(166, 255, 0); */
    height: 6.8rem;
}

.url {
    width: 100%;
}

input, select {
    width: max(55px, 100% - .1rem);
    height: 1.3rem; 
    padding: 0;
    color: black;
    outline: transparent;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px black; 
    text-align: center;
    font-family: Junge, Recursive, sans-serif;
    font-size: 1.1rem;
    transition: all 120ms ease-out;
}

input:hover, select:hover {
    border-bottom: solid 1px var(--primary);
}

input:focus, select:focus {
    border-bottom: solid 2px var(--primary);
}

::placeholder, option {
    text-align: center;
    color: black;
}

.log {
    height: 12.8px;
    color: var(--logError);
    font-family: Recursive, monospace;
    font-size: 11px;
    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
}

.buttons {
    /* width: 100%; */
    display: inline-flex;
    justify-content: space-around;
    column-gap: 4px;
}

button {
    height: 2rem;
    border: solid 1px transparent;
    border-radius: 0px;
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    font-size: 1.25rem;
    background-color: var(--primary);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.buttons > button > img {
    width: 30px;
}

.icon {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    margin-block: 0;
    margin-inline: auto;
    font-family: Recursive, monospace;
    font-size: 10px;
    -webkit-user-select: none;
    user-select: none;
}

#footer span {
    color: red;
}
  
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(0);
    }
}
